<div class="form-container form-test">
    <form class="" action="#" method="post">
        <div class="row field-container">
            <div class="column-20">
                <h3 data-lang="labelAge">Age</h3>
            </div>
            <div class="column input-container">
                <input type="range" class="range" name="age" min="15" max="60" value="25">
            </div>
        </div>

        <div class="row field-container favorite-color">
            <div class="column-20">
                <h3 data-lang="labelFavColor">Favorite Color</h3>
            </div>
            <div class="column-80 input-container">
                <div class="radio-container">
                    <input type="radio" class="favColor-1" id="favColor-1" class="radio" name="favColor" value="1" data-required>
                    <label for="favColor-1" data-lang="favColor1">Blue</label>
                </div>
                <div class="radio-container">
                    <input type="radio" class="favColor-2" id="favColor-2" class="radio" name="favColor" value="2" >
                    <label for="favColor-2" data-lang="favColor2">Pink</label>
                </div>
                <div class="radio-container">
                    <input type="radio" class="favColor-3" id="favColor-3" class="radio" name="favColor" value="3" >
                    <label for="favColor-3" data-lang="favColor3">Yellow</label>
                </div>
                <div class="radio-container">
                    <input type="radio" class="favColor-4" id="favColor-4" class="radio" name="favColor" value="4" >
                    <label for="favColor-4" data-lang="favColor4">White</label>
                </div>
                <div class="radio-container">
                    <input type="radio" class="favColor-5" id="favColor-5" class="radio" name="favColor" value="5" >
                    <label for="favColor-5" data-lang="favColor5">Green</label>
                </div>
            </div>
        </div>


        <div class="row field-container eyes-color">
            <div class="column-20">
                <h3 data-lang="labelEyesColor">Eyes Color</h3>
            </div>
            <div class="column-80 input-container">
                <div class="radio-container">
                    <input type="radio" class="favEyesColor-1" id="favEyesColor-1" class="radio" name="favEyescolor" value="1" data-required>
                    <label for="favEyesColor-1" data-lang="favEyesColor1">Blue</label>
                </div>
                <div class="radio-container">
                    <input type="radio" class="favEyesColor-2" id="favEyesColor-2" class="radio" name="favEyescolor" value="2" >
                    <label for="favEyesColor-2" data-lang="favEyesColor2">Brown</label>
                </div>
                <div class="radio-container">
                    <input type="radio" class="favEyesColor-3" id="favEyesColor-3" class="radio" name="favEyescolor" value="3" >
                    <label for="favEyesColor-3" data-lang="favEyesColor3">Green</label>
                </div>
            </div>
        </div>

        <div class="row field-container big-selector">
            <div class="column-20">
                <h3 data-lang="labelHair">Hair</h3>
            </div>
            <div class="column-80 input-container">
                <div class="radio-container text-center">
                    <input type="radio" class="hair-1" id="hair-1" class="radio" name="hair" value="1" data-required>
                    <label for="hair-1">
                        <img src="/assets/img/long.png" alt="">
                        <span data-lang="hair1">Long</span>
                    </label>
                </div>
                <div class="radio-container text-center">
                    <input type="radio" class="hair-2" id="hair-2" class="radio" name="hair" value="2" >
                    <label for="hair-2">
                        <img src="/assets/img/short.png" alt="">
                        <span data-lang="hair2">Short</span>
                    </label>
                </div>
                <div class="radio-container text-center">
                    <input type="radio" class="hair-3" id="hair-3" class="radio" name="hair" value="3" >

                    <label for="hair-3">
                        <img src="/assets/img/tied.png" alt="">
                        <span data-lang="hair3">Tied</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="row field-container man-selector">
            <div class="column-20">
                <h3 data-lang="labelMan">Choose your type of prince</h3>
            </div>
            <div class="column-80">
                <div class="row">
                    <div class="column-25 text-center">
                        <img class="man-img man1" src="/assets/img/man1.png" alt="">
                        <img class="man-img man2" src="/assets/img/man2.png" alt="">
                        <img class="man-img man3" src="/assets/img/man3.png" alt="">
                    </div>
                    <div class="column-75 select-container">
                        <select class="man-selec" name="manType">
                            <option value="1" data-lang="man1">Muscular and dark-skinned</option>
                            <option value="2" data-lang="man2">Thin and tall</option>
                            <option value="3" data-lang="man3">Dark-skinned and thin</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row field-container big-selector">
            <div class="column-20">
                <h3 data-lang="labelFlower">Choose your favorite flower</h3>
            </div>
            <div class="column-80 input-container">
                <div class="radio-container text-center">
                    <input type="radio" class="flower-1" id="flower-1" class="radio" name="flower" value="1" data-required>
                    <label for="flower-1">
                        <img src="/assets/img/rose.png" alt="">
                        <span data-lang="flower1">Roses</span>
                    </label>
                </div>
                <div class="radio-container text-center">
                    <input type="radio" class="flower-2" id="flower-2" class="radio" name="flower" value="2" >
                    <label for="flower-2">
                        <img src="/assets/img/sunflower.png" alt="">
                        <span data-lang="flower2">Sunflower</span>
                    </label>
                </div>
                <div class="radio-container text-center">
                    <input type="radio" class="flower-3" id="flower-3" class="radio" name="flower" value="3" >

                    <label for="flower-3">
                        <img src="/assets/img/lilies.png" alt="">
                        <span data-lang="flower3">Lilies</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="row field-container last">
            <div class="column text-center">
                <button type="submit" class="btn" name="button" data-lang="calcBtn">CALCULATE</button>
            </div>
        </div>

        <div class="row field-container last error-form-msg">
            <div class="column text-center">
                <span data-lang="errorForm">Oooooops, please select at least one option in the fields marked with the</span>
                <span class="sad-face"></span>
            </div>
        </div>

    </form>
</div>
