<div class="form-container form-test">
    <form class="" action="#" method="post">
        <div class="row field-container">
            <div class="column-20">
                <h3 data-lang="labelAge">Age</h3>
            </div>
            <div class="column">
                <input type="range" class="range" name="age" min="14" max="70" value="30">
            </div>
        </div>
        <div class="row field-container">
            <div class="column">
                <button type="submit" class="btn" name="button" data-lang="calcBtn">CALCULATE</button>
            </div>
        </div>
    </form>
</div>
