.btn {
    @include border-radius(5px);
    min-height: 30px;
    min-width: 40px;
    display: inline-block;
    line-height: 30px;
    padding: 10px 15px;
    border: 0;
    margin: 0;
    background: $oldRose;
    color: $white;
    &.fbBtn{
        background: $facebookColor;
    }
    &.twitterBtn{
        background: $twitterColor;
    }
}
