.form-test{
    display: none;
    &.active{
        display: block;
    }
    input[type=range]{
        margin: 20px 0;
    }

    .radio-container{
        display: inline-block;
        margin-right: 10px;
    }

    .favorite-color{
        input[type=radio]:checked{
            & + label:before {
                background: $thistle;
            }
        }
        label{
            &:before{
                content: '\2665';
                border: solid 3px $thistle;
                @include border-radius(5px);
                margin-right: 5px;
                @include transition(all, 0.5s, ease-out);
            }

            @media #{$sm-breakpoint} {
                margin-bottom: 20px;
                &:before{
                    content: '\2022';
                    font-size: 60px;
                    line-height: 23px;
                    display: inline-block;
                    vertical-align: middle;

                }
            }
        }
        .favColor-1 + label{
            &:before { color: #1a5ecc; }
        }
        .favColor-2 + label{
            &:before { color: #F47983; }
        }
        .favColor-3 + label{
            &:before { color: #F7CA18; }
        }
        .favColor-4 + label{
            &:before {
                color: white;
            }
        }
        .favColor-5 + label{
            &:before { color: #26A65B; }
        }
        @media #{$sm-breakpoint} {
            .radio-container{
                width: 100%;
            }
        }
    }

    .eyes-color{
        [type=radio]{
            & + label {
                border: solid 3px transparent;
                background: url("../assets/img/close-eyes.png") no-repeat left;
                @include border-radius(5px);
                &:before, &:after{
                    opacity: 0;
                }

                @media #{$sm-breakpoint} {
                    background-size: 85px auto;
                }
            }
        }
        [type=radio]:checked{
            & + label {
                border-color: $thistle;
                background: url("../assets/img/eyes.png") no-repeat left;
                &:before, &:after{
                    opacity: 1;
                }
                @media #{$sm-breakpoint} {
                    background-size: 85px auto;
                }
            }
        }
        label{
            padding: 0 5px 0 80px;
            line-height: 3em;
            border: solid 1px transparent;
            @include transition(all, 0.5s, ease-out);
            &:before, &:after{
                content: '\2022';
                margin-right: 5px;
                @include transition(all, 0.5s, ease-out);
                position: absolute;
                font-size: 25px;
                line-height: 0;
                top: 24px;
                left: 18px;
                @media #{$sm-breakpoint} {
                    font-size: 32px;
                    line-height: 0;
                    top: 23px;
                    left: 20px;
                }
            }
            &:after{
                left: 50px;
                @media #{$sm-breakpoint} {
                    left: 59px;
                }
            }

            @media #{$sm-breakpoint} {
                padding: 0 5px 0 100px;
            }
        }
        .favEyesColor-1 + label{
            &:before, &:after {
                color: blue;
            }
        }
        .favEyesColor-2 + label{
            &:before, &:after {
                color: #7b1d1d;
            }
        }
        .favEyesColor-3 + label{
            &:before, &:after {
                color: green;
            }
        }

        @media #{$sm-breakpoint} {
            .radio-container{
                width: 100%;
            }
        }
    }

    .big-selector{
        .radio-container{
            width: 32%;
            margin: 0;
            box-sizing: border-box;
        }
        [type=radio]{
            & + label {
                border: solid 3px transparent;
                @include border-radius(20px);
            }
        }
        [type=radio]:checked{
            & + label {
                border-color: $thistle;
            }
        }
        label{
            overflow: hidden;
            width: 100%;
            display: block;
            padding: 0;
            line-height: 3em;
            border: solid 1px transparent;
            @include transition(all, 0.5s, ease-out);
            &:before{
                content: none;
            }
            img{
                padding: 5px 10px 0;
                box-sizing: border-box;
            }
            span, img{
                display: block;
                margin: 0 auto;
            }
        }
    }

    .man-selector{
        .man-img {
            display: none;
            @include transition(all, 0.5s, ease-out);
            &.man1{
                display: block;
            }
        }
        img{
            margin: 0 auto;
        }
    }

}
