header {
    background-image: url("/assets/img/header-bg.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    border-bottom: solid 1px $thistle;
    .lang-container{
        text-align: right;
        a{
            display: inline-block;
            padding: 10px 0 10px 0;
        }
    }
    .main-title{
        @include vertical-align-center();
    }
}
