<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Social Sweet Hearts</title>
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <div class="container">
        <header class="row">
            <div class="column-25">
                <img src="/assets/img/logo.png" alt="Disney Princess">
            </div>
            <div class="column-50 main-title">
                <h1 data-lang="mainTitle">Which Disney Princess Are You?</h1>
            </div>
            <div class="column-25 lang-container">
                <a href="es">
                    <img src="/assets/img/es.png" alt="Español">
                </a>
                <a href="en">
                    <img src="/assets/img/en.png" alt="English">
                </a>
                <a href="de">
                    <img src="/assets/img/de.png" alt="Deutsch">
                </a>
            </div>
        </header>
    </div>
    <script src="js/bundle.js" charset="utf-8"></script>
  </body>
</html>
