body {
    font-size: $baseFontSize;
    color: $black;
}
h1{
    margin: 20px 0;
}
h2{
    margin: 18px 0;
}
h3{
    margin: 16px 0;
}
h4{
    margin: 14px 0;
}
h5{
    margin: 12px 0;
}
h6{
    margin: 10px 0;
}
