body {
    font-size: $baseFontSize;
    color: $mediumVioletRed;
}
h1{
    margin: 20px 0;
    font-size: 28;
    line-height: 30px;
}
h2{
    margin: 18px 0;
    font-size: 21px;
    line-height: 23px;
}
h3{
    margin: 16px 0;
    font-size: 16px;
    line-height: 18px;
}
h4{
    margin: 14px 0;
    font-size: 14px;
    line-height: 16px;
}
h5{
    margin: 12px 0;
    font-size: 12px;
    line-height: 14px;
}
h6{
    margin: 10px 0;
    font-size: 10px;
    line-height: 12px;
}
