@mixin commonStyles() {
    padding: 0 10px;
    box-sizing: border-box;
}

.container, .row{
    box-sizing: border-box;
}
.container{
    max-width: $max-width;
    box-sizing: border-box;
    margin: 0 auto;
}
.row{
    @include flexbox();
}
div[class^="column"] {
    @include commonStyles();
}
.column{
    @include flex();
}
.column-100{
    @include flex(0, 0, 100%);
}
.column-50{
    @include flex(0, 0, 50%);
}
.column-33{
    @include flex(0, 0, 33.3333%);
}
.column-25{
    @include flex(0, 0, 25%);
}
.column-20{
    @include flex(0, 0, 20%);
}

@media #{$xs-breakpoint} {
    .column, .column-100, .column-50, .column-33, .column-25, .column-20{
        @include flex(0, 0, 100%);
    }
}
